[submodule "external/BIManalyst_g_44"]
	path = external/BIManalyst_g_44
	url = https://github.com/lillian-al/BIManalyst_g_44.git
	branch = main
[submodule "external/BIManalyst_g_41"]
	path = external/BIManalyst_g_41
	url = https://github.com/A11016/BIManalyst_g_41.git
	branch = main
[submodule "external/BIManalyst_g_40_new"]
	path = external/BIManalyst_g_40_new
	url = https://github.com/Odanorland/BIManalyst_g_40_new.git
	branch = main
